:root{
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --bcg-pri-color: #2F303A;
    --bcg-sec-color: #F5F4FA;
    --bcg-thr-color: #F5F5F5
    --button-color: #000000;
    --main-wight-color: #ffffff;
    --spec-link-color: rgba(255, 255, 255, 0.6);

}

/* main styles */
body {
    color:  var(--title-color);
    background-color: var(--main-wight-color);
    font-family: 'Roboto', sans-serif ;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: center;
    /* !перевірити до основного стилю */
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

/* special main setting */
/* прибрати крапки з li */
.hidenmark{list-style: none;}
/* кнопки */
.button {
    color: var(--title-color);
    background-color: var(--bcg-sec-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
}
.button.pri:hover, .button.pri:focus {
    color: var(--main-wight-color);
    background-color: var(--accent-color);
}


/* header */
/* logo */
.logo {
    color: var(--button-color);
    text-decoration: none;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.accent {
    color: var(--accent-color)
}
.header {
    /* колір ок */
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header a {
    color: var(--title-color);
    text-decoration: none;
}
/* ефект наведення */
.hover .link:hover,  .hover .link:focus {
    color: var(--accent-color);
    /* !актив не працює */
}
.hover .link.current {
    color: var(--accent-color);
}


/* hero */
.hero {
    background-color: var(--bcg-pri-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-title {
    color: var(--main-wight-color);
    font-size: 44px;
    line-height: 1.36;
}


/* preference */
.preference {
    text-align: left;
}
.hiden-titles {
    /* !Сховати hiden-titles */
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.text {
    color: var(--text-color);
    line-height: 1.7;
}


/* activity */
/* заголовок ок */


/* team */
.ourteam {
    background-color: var(--bcg-sec-color);
}
.aboutus {
    background-color: var(--main-wight-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.teem{
    font-size: 16px;
    line-height: 1.19;
    /* в парі з text */
}


/* footer */
footer {
    background-color: var(--bcg-pri-color);
    text-align: left;
}
address a {
    color: var(--main-wight-color);
    font-style: normal;
    text-decoration: none;
    
    line-height: 1.7;
} 
.contacts {
    color: var(--spec-link-color);
}
.contactus a:hover, .contactus a:focus {
    color: var(--accent-color);
}
.footer > .logo {
    color: var(--main-wight-color);
}


/* main-portfolio */
/* portfolio=hiden-titles */
.main-portfolio .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.our-works {
    text-align: left;
}
.main-portfolio h2 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

/* 

 1. кольор і бекграунд !OK
 2. шрифти для всіх блоків !OK
 3. рамки і відступи
 4. активні елементи і кнопки !ok
 5. 2-га сторінка !ok
 6. css на другу сторінку !ok
*/


