:root{
    --title-color: #212121;
    --text-color: #757575;
    --link-color: #2196F3;
    --accent-color: #ffffff;
    --background-primery-color: #2F303A;
    --background-secondary-color: #F5F4FA;
}

/* Основні параметри */
body {
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: 700;
    color:  var(--title-color);
    background-color: #F5F5F5;
}
/* ! прибрати крапки з li */
.hidenmark{list-style: none;}

/* header */
.logo a {
    font-family: 'Raleway', sans-serif;
    font-style: Bold;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

/* hero */
.hero {
    background-color: var(--background-primery-color);
}

/* Переваги */
.hiden-titles {none
    /* !Сховати hiden-titles */
}
.title {
    font-size: 14px;
    line-height: 16px;
}
.text {
    font-style: Regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}
/* Діяльність */
.main-titles{
    font-size: 36px;
    line-height: 42px;
}
/* Команда */
.team-title {
    background-color: var(--background-secondary-color);
    font-style: Medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.teem{
    font-size: 16px;
    line-height: 19px;
    /* в парі з text */
}

/* Підвал */
footer {
    background-color: var(--background-primery-color);
}
.logo {
    /* Доробити */
}
.contactus a {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
a .map {
    color: var(--accent-color);
    /* !Не працює - доробити */
}

/* ! кольори в підвалі напівпрозорі з rgbo */
/* 
! header & footer на дві сторінки 
! css один на дві сторінки
 1. спочатку шрифти для всіх блоків
 2. кольор і бекграунд
 3. рамки і відступи
 4. активні елементи і кнопки
 5. 2-га сторінка
 6. css на другу сторінку
*/
