:root{
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --bcg-pri-color: #2F303A;
    --bcg-sec-color: #F5F4FA;
    --bcg-thr-color: #F5F5F5
    --button-color: #000000;
    --main-wight-color: #ffffff;
    --spec-link-color: rgba(255, 255, 255, 0.6);

}

/* main styles */
body {
    color:  var(--title-color);
    background-color: var(--main-wight-color);
    font-family: 'Roboto', sans-serif;
    font-style: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 3%;
    text-align: center;
    /* перевірити до основного стилю */
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

/* special main setting */
/* ! прибрати крапки з li */
.hidenmark{list-style: none;}
/* ! кнопки */
.button {
    color: var(--button-color);
    background-color: var(--main-wight-color);
}
.button.pri {
    color: var(--main-wight-color);
    background-color: var(--accent-color);
}
.button.sec {
    color: var(--accent-color);
    background-color: var(--main-wight-color);
}


/* header */
.header {
    /* колір ок */
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
    /* лого знизу */
}
.header a {
    text-decoration: none;
}
/* колір наведення! */
/* ефекти наведення! */


/* hero */
.hero {
        background-color: var(--bcg-pri-color);
    letter-spacing: 6%;
}
.hero-title {
    color: var(--main-wight-color);
    font-size: 44px;
    line-height: 1.36;
}
/* кнопка! не працює*/


/* preference */
.preference {
    text-align: left;
}
.hiden-titles {
    /* !Сховати hiden-titles */
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}


/* activity */
/* заголовок ок */


/* team */
.ourteam {
    background-color: var(--bcg-sec-color);
}
.aboutus {
    background-color: var(--main-wight-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.teem{
    font-size: 16px;
    line-height: 1.19;
    /* в парі з text */
}


/* далі перевірити */
/* footer */
footer {
    background-color: var(--bcg-pri-color);
    text-align: left;
}
address a {
    text-decoration: none;
    font-style: normal;
    color: var(--spec-link-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
address > a .map {
    color: var(--main-wight-color);
    /* !Не працює - доробити */
}
/* logo header&footer */
.logo {
    color: var(--button-color);
    text-decoration: none;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.accent {
    color: var(--accent-color)
}
.footer > .logo {
    color: var(--main-wight-color);
}



/* 
! header & footer на дві сторінки 
! css один на дві сторінки
 1. кольор і бекграунд !OK
 2. шрифти для всіх блоків !OK
 3. рамки і відступи
 4. активні елементи і кнопки
 5. 2-га сторінка
 6. css на другу сторінку
*/


