:root{
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --bcg-pri-color: #2F303A;
    --bcg-sec-color: #F5F4FA;
    --bcg-thr-color: #F5F5F5
    --button-color: #000000;
    --bcg-accent-color: #ffffff;
    --spec-link-color: rgba(255, 255, 255, 0.6);

}

/* main styles */
body {
    color:  var(--title-color);
    background-color: var(--bcg-accent-color);
    font-family: 'Roboto', sans-serif;
    font-style: 400;
    font-size: 14px;
    line-height: 24px;
}
.header {
}
/* special main setting */
/* ! прибрати крапки з li */
.hidenmark{list-style: none;}
/* кнопки */
.button {
    color: var(--button-color);
    background-color: var(--bcg-accent-color);
}
.button.pri {
    color: var(--bcg-accent-color);
    background-color: var(--accent-color);
}
.button.sec {
    color: var(--accent-color);
    background-color: var(--bcg-accent-color);
}

/* header */



/* hero */
.hero {ar(--bcg-pri-color);
}
    background-color: v

/* Переваги */
.hiden-titles {
    position: absolute;
    top: -100%;
    /* !Сховати hiden-titles */
}
.title {
    font-size: 14px;
    line-height: 16px;
}
.text {
    font-style: Regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}
/* Діяльність */
.main-titles{
    font-size: 36px;
    line-height: 42px;
}
/* Команда */
.ourteam {
    background-color: var(--bcg-sec-color);
}
.team-title {
    font-style: Medium;
    font-weight: 500;
    font-size: 16px;24px
}
.teem{
    font-size: 16px;
    line-height: 19px;
    /* в парі з text */
}

/* Підвал */
footer {
    background-color: var(--bcg-pri-color);
    font-style: normal;
}
/* logo header&footer */
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: Bold;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--button-color);
}
.footer > .logo {
    color: var(--bcg-accent-color);
}
.accent {
    color: var(--accent-color)
}
/* Пыдкреслене лого!!! */

.contactus a {
    color: var(--spec-link-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

a .map {
    color: var(--bcg-accent-color);
    /* !Не працює - доробити */
}

/* ! кольори в підвалі напівпрозорі з rgbo */
/* 
! header & footer на дві сторінки 
! css один на дві сторінки
 1. спочатку шрифти для всіх блоків
 2. кольор і бекграунд
 3. рамки і відступи
 4. активні елементи і кнопки
 5. 2-га сторінка
 6. css на другу сторінку
*/

    line-height: 19px;
}

