# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
</head>
<body>
    <!-- Шапка -->
   <header> 
        <nav>
            <!-- Логотип -->
        <a href="/" alt="logo"><span>Web</span>Studio</a>
<!-- <a href="/" alt="logo"???><span>Web</span>Studio</a> -->

        <!-- Навігація -->
        <ul>
            <li><a href="порожньо">Студія</a></li>
            <li><a href="порожньо">Портфоліо</a></li>
            <li><a href="порожньо">Контакти</a></li>
        </ul>
        <!-- Mail, Tel. -->
        <ul>
            <li><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
            <li><a href="tel:+38 096 111 11 11">+38 096 111 11 11</a></li>
        </ul>
        </nav>
    </header>

   <!-- Основний контент -->
   <main>
        <!-- Секція Герой -->
        <section wight="1600px">
            <h1>Ефективні рішення для вашого бізнесу</h1>
            <button type="button">Замовити послугу</button>
            <!-- фон малюнок з розміром -->
        </section>

        <!-- Секція Переваги-->
        <section>
            <h2>Переваги</h2>
            <ul>
                <li>
                    <h3>УВАГА ДО ДЕТАЛЕЙ</h3>
                    <p>
                        Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.
                    </p>
                </li>
                <li>
                    <h3>ПУНКТУАЛЬНІСТЬ</h3>
                    <p>
                        Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.
                    </p>
                </li>
                <li>
                    <h3>ПЛАНУВАННЯ</h3>
                    <p>
                        Так само консультація з широким активом значною мірою зумовлює.
                    </p>
                </li>
                <li>
                    <h3>СУЧАСНІ ТЕХНОЛОГІЇ</h3>
                    <p>
                        Значимість цих проблем настільки очевидна, що реалізація планових завдань.
                    </p>
                </li>
            </ul>

        </section>
        <!-- Секція Діяльність-->
        <section>
            <h2>Чим ми займаємося</h2>
            <ul>
                <li>
                    <p>
                        <img src="./images/close-up-image-programer-working-his-desk-office_1098-18707.png" alt="Розробка структури алгоритмів " width="370px" height="294">
                    </p>
                </li>
                <li>
                    <p>
                        <img src="./images/web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.png" alt="Розробка інтерфейсу додатку" width="370px" height="294">
                    </p>
                </li>
                <li>
                    <p>
                        <img src="./images/creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.png" alt="Дизайнерське оформлення кольорової гами" width="370px" height="294">
                    </p>
                </li>
            </ul>
        </section>
        <!-- Секція Команда-->
        <section>
            <h2>Наша команда</h2>
            <ul>
                <li>
                    <img src="./images/img (1).jpg" alt="photo Ігор Дем'яненко" width="270" height="260">
                    <p>
                        <strong>Ігор Дем'яненко</strong><br>
                        Product Designer
                    </p>
                </li>
                <li>
                    <img src="./images/img (2).jpg" alt="photo Ольга Рєпіна" width="270" height="260">
                    <p>
                        <strong>Ольга Рєпіна</strong><br>
                        Frontend Developer
                    </p>
                </li>
                <li>
                    <img src="./images/img (3).jpg" alt="photo Микола Тарасов" width="270" height="260">
                    <p>
                        <strong>Микола Тарасов</strong><br>
                        Marketing
                    </p>
                </li>
                <li>
                    <img src="./images/img (4).jpg" alt="photo Михайло Єрмаков" width="270" height="260">
                    <p>
                        <strong>Михайло Єрмаков</strong><br>
                        UI Designer
                    </p>
                </li>
            </ul>
        </section>

   </main>

   <!-- Підвал -->
   <footer>
    <address>
        <!-- Логотип -->
        <a href="/" alt="logo"><span>Web</span>Studio</a>
        <!-- Контакти -->
        <p>
            <span>м. Київ, пр-т Лесі Українки, 26</span> </br>
            info@example.com </br>
            +38 099 111 11 11</p>
    </address>
   </footer>
   
</body>
</html>

<!-- Порожньо -для заповнення -->
